# NFC Implant Login - udev rules for ACS ACR122U NFC reader
# Repository: https://github.com/mazzarol/nfc-host-login.git
# NFC Implants: https://dangerousthings.com
#
# Disable USB autosuspend for ACS ACR122U NFC reader
SUBSYSTEM=="usb", ATTR{idVendor}=="072f", ATTR{idProduct}=="2200", ATTR{power/control}:="on"
